<nav class="navbar round">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Expenses", root_path %></li>
    <li><%= link_to "New Expense", new_expense_path%></li>
  </ul>
</nav>
